#about {
  background: #111827;
}

.about-container {
  display: flex;
  gap: 50px;
  align-items: center;
}

.about-text {
  flex: 1;
  color: #cbd5e1;
  line-height: 1.7;
}

.about-image {
  flex: 1;
}

.about-image img {
  width: 100%;
  border-radius: 10px;
}
