#projects {
  background: #111827;
}

.projects-grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.project-card {
  color: rgb(65, 65, 65);
  background: #1e293b;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s ease;
}

.project-card:hover {
  transform: translateY(-8px);
}

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-content {
  padding: 20px;
}

.project-content h3 {
  margin-bottom: 10px;
}

/* ====CONTACT====== MOBILE ========== */
@media (max-width: 768px) {
  .project-card {
    width: 100%;
  }
  .projects-grid{
    gap: 0;
  }

  swiper-container {
    width: 100%;
  }
  
  swiper-slide {
    display: flex;
    justify-content: center;
  }
}
/* ========== TABLET ========== */
@media (min-width: 769px) and (max-width: 1024px) {
  swiper-container {
    width: 100%;
  }
  
  swiper-slide {
    display: flex;
    justify-content: center;
  }
  .project-card {
    width: 100%;
  }
  .projects-grid{
    gap: 0;
  }
  }